@import './variables.scss';
// 

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background: black;
    box-shadow: 0 5px 13px 0 rgba(rgb(75, 75, 75), 0.25);

    height: 10vh;
    width: 90vw; // Edit this if edits padding
    min-height: 10vh;
    max-height: 10vh;
    padding: 0 5vw;

    &-logo {
        padding: 0;
        padding: 0;
        height: 8vh;
        font-size: 100;
    }

    &-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (min-width: 900px) {
            .header-button {
                margin: 0 1vw;
                padding: 0.5vh 1vw;
    
                background-color: $color-yellow;
                border: 1px outset rgb(255, 251, 167);
                border-radius: 3px;
    
                text-decoration: none;
                color: black;
                font-size: x-large;
    
                transition-duration: 0.3s;
            }
    
            .header-button:hover {
                background-color: black;
                color: $color-yellow;
                scale: 1.1;
            }
        }

        @media screen and (max-width: 900px) {
            .header-button {
                display: none;
            }
        }
    }
}