@import './variables.scss';

.home {
    background-color: orange;
    float: bottom;
    height: 100vh;
    width: 100vw;

    &-title {
        grid-area: text;
        font-family: 8bit;
        text-align: center;
        font-size: 15vh;
        padding: 25vh 5vw;
        width: 90vw;
        height: 90vh;
    }

}