$color-yellow: rgb(239, 201, 90);
$color-orange: #F2A93B;
$color-pink: rgb(234, 208, 209);
$color-purple: rgb(50, 37, 89);
$color-blue: rgb(50, 113, 134);
// $color-

@font-face {
    font-family: "8bit";
    src: local("8bit"),
     url("../fonts/8bit.ttf") format("truetype");
    font-weight: bold;
    }
    