$color-yellow: rgb(239, 201, 90);
$color-pink: rgb(234, 208, 209);
$color-purple: rgb(50, 37, 89);
$color-blue: rgb(50, 113, 134);
// $color-

@font-face {
    font-family: "Minecraft";
    src: local("Minecraft"),
     url("../fonts/minecraft.ttf") format("truetype");
    font-weight: bold;
    }
    